<head>
	<title><%= title %></title>

	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">

	<!-- Stylesheet -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/hover.css' />

	<!-- JS files -->
	<script src="/javascripts/materialize.js"></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Pacifico|Open+Sans" rel="stylesheet">

	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>