<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>

	<style>
	body {
		background: url('/images/book_back.gif');
	}
</style>
</head>
<% include loading.ejs %>
<body>
	<div class="container">
		<div class="row" style="margin-top:15%;margin-left:5%;">
			<div class="col s3" style="margin-top:12%;">
				<a href="/login">
					<div class="waves-effect waves-yellow card hoverable circle_card small transparent_card hvr-login hvr-buzz">
						<h4 class="cur_font circle_text">&nbsp;Login</h4>
					</div>
				</a>
			</div>
			<div class="col s6">
				<div class="waves-effect pulse waves-light card hoverable circle_card_big transparent_card">
					<h2 class="cur_font center-align text-margin"><%= title %></h2>
					<p class="cur_font center-align text-margin">A place for all things books</p>
				</div>
			</div>
			<div class="col s3" style="margin-top:12%;">
				<a href="/register">
					<div class="waves-effect waves-orange card hoverable circle_card small transparent_card hvr-signup hvr-buzz" style="margin-left:0%;">
						<h4 class="cur_font circle_text">Sign Up</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
