<body>
	<div class="loading_div" id="loading">
		<div class="loading_image">
		<img id="loading-image" src="images/loading.gif" alt="Loading..." />
		</div>
	</div>
</body>
<script>
	$(document).ready(function() {
		$('a').click(function(e) {
			e.preventDefault();
			newLocation = this.href;
			$('#loading').fadeIn('slow').delay(0, newpage);	
		});

		function newpage() {
			window.location = newLocation;
		}

		$('#loading').delay(0).fadeOut('slow');	
	});
</script>