<!DOCTYPE html>
<html>
<head>
	<% include header.ejs %>
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<% include loading.ejs %>
<body class="login_back">
	<div class="container">
		<form action="/user_db/login" method="post">
			<div class="row login_row">
				<div class="col s3 m2 l3 xl3"></div>
				<div class="col s4 m6 l4 xl4">
					<div class="card transparent_card hoverable circle_card_big">
						<div style="padding-top:12%">
							<div class="row">
								<h2 class="cur_font center-align text-margin">Login</h2>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">face</i>
										<input id="text" name="username" type="text" class="text_fields" style="font-weight: bold;">
										<label for="text" class="login_font">Username</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">lock</i>
										<input id="password" name="password" type="password">
										<label for="password" class="login_font">Password</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s3 m2 l3 xl3"></div>
								<div class="col s8 m8 l8 xl8">
									<div class=" hvr-icon-wobble-vertical">
										<button class="btn waves-effect waves-light hvr-icon" type="submit">Submit
											<i class="material-icons right hvr-icon">send</i>
										</button>&nbsp;&nbsp;&nbsp;
									</div>
									<div class=" hvr-icon-wobble-vertical">
										<a href="/">
											<button class="btn waves-effect waves-light red hvr-icon" type="reset">Cancel
												<i class="material-icons right hvr-icon">close</i>
											</button>
										</a>
									</div>
								</div>
								<div class="col s3 m3 l3 xl3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col s3 m3 l3 xl3 center-align hide_portrait" style="margin-top:30%">
					<a href="/register">
						<div class="waves-effect waves-orange card hoverable circle_card small transparent_card hvr-signup hvr-buzz" style="margin-left:0%;">
							<h4 class="cur_font circle_text">Sign Up</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="row vis_portrait_only">
				<div class="col s5 m5 l5 xl5"></div>
				<div class="col s3 m3 l3 xl3 center-align" style="margin-top:5%">
					<a href="/register">
						<div class="waves-effect waves-orange pulse card hoverable circle_card small transparent_card hvr-signup hvr-buzz" style="margin-left:0%;">
							<h4 class="cur_font circle_text">Sign Up</h4>
						</div>
					</a>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
