<!DOCTYPE html>
<html lang="en">
<head>
	<% include header.ejs %>
	<link rel='stylesheet' href='/stylesheets/register.css' />
</head>
<% include loading.ejs %>
<body class="reg_back" ng-app="Register" ng-controller="register">
	<div class="container">
		<form action="/user_db/register" method="post">
			<div class="row login_card">
				<div class="col s4 m2 l2 xl3"></div>
				<div class="col s4 m8 l8 xl6">
					<div class="card card_pad transparent_card hoverable">
						<div>
							<div class="row">
								<h2 class="cur_font center-align text-margin">Register</h2>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">border_color</i>
										<input id="name" type="text" name="name" class="text_fields" style="font-weight: bold;">
										<label for="name" class="login_font">Name</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="fas fa-venus-mars prefix"></i>
										<select id="gender" name="gender" class="icons">
											<option value="#" disabled selected>Choose your option</option>
											<option value="male" data-icon="images/male.png">Male</option>
											<option value="female" data-icon="images/female.png">Female</option>
											<option value="other" data-icon="images/other.png">Other</option>
										</select>
										<label for="gender" class="login_font">Gender</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="row" style="margin:0;">
										<div class="col s1"></div>
										<div class="col s10">
											<label for="dob" class="login_font">&nbsp;&nbsp;&nbsp;Date of Birth</label>
										</div>
									</div>
									<div class="input-field col s12" style="margin-top:0;">
										<i class="material-icons prefix">perm_contact_calendar</i>
										<input type="text" class="datepicker" name="dob">
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">face</i>
										<input id="username" name="username" type="text" class="text_fields" style="font-weight: bold;">
										<label for="username" class="login_font">Username</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">lock</i>
										<input id="password" name="password" type="password" ng-model="password">
										<label for="password" class="login_font">Password</label>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">vpn_key</i>
										<input id="conf_password" type="password" name="conf_password" ng-model="conf_password" ng-class="{true: 'valid', false: 'invalid'}[conf_password == password]">
										<label for="conf_password" class="login_font">Confirm Password</label>
										<span class="helper-text" ng-if="password!=null" data-error="Enter same password as above!" data-success="Perfect!"></span>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s1"></div>
								<div class="col s10">
									<div class="input-field col s12">
										<i class="material-icons prefix">email</i>
										<input id="email" type="email" name="email" class="validate text_fields" style="font-weight: bold;">
										<label for="email" class="login_font">Email</label>
										<span class="helper-text" data-error="Enter valid email!" data-success="Perfect!"></span>
									</div>
								</div>
								<div class="col s1"></div>
							</div>
							<div class="row">
								<div class="col s3"></div>
								<div class="col s8">
									<div class=" hvr-icon-wobble-vertical">
										<button class="btn waves-effect waves-light hvr-icon" type="submit">Submit
											<i class="material-icons right hvr-icon">send</i>
										</button>&nbsp;&nbsp;&nbsp;
									</div>
									<div class=" hvr-icon-wobble-vertical">
										<a href="/">
											<button class="btn waves-effect waves-light red hvr-icon" type="reset">Cancel
												<i class="material-icons right hvr-icon">close</i>
											</button>
										</a>
									</div>
								</div>
								<div class="col s3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col s4 m2 l2 xl3 center-align login_btn hide_portrait">
					<a href="/login">
						<div class="waves-effect waves-yellow card hoverable circle_card small transparent_card hvr-login hvr-buzz">
							<h4 class="cur_font circle_text">&nbsp;Login</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="row login_card vis_portrait_only">
				<div class="col s4 m4 l4 xl4"></div>
				<div class="col s4 m2 l2 xl3 center-align">
					<a href="/login">
						<div class="waves-effect pulse waves-yellow card hoverable circle_card small transparent_card hvr-login hvr-buzz">
							<h4 class="cur_font circle_text">&nbsp;Login</h4>
						</div>
					</a>
				</div>
			</div>
		</form>
	</div>
</body>
<script>
	var app = angular.module('Register', []);

	app.controller('register', function($scope, $http) {

	});
</script>
</html>