/*Register page*/
.reg_back {
	background: url('/images/signup_land.jpg');
}

.card_pad {
	padding: 2% 0;
}

.input-field {
	margin: 0.5rem 0;
}

.transparent_card {
	background: rgba(255,255,255,0.9);
}

.login_btn {
	margin-top:15%;
	margin-bottom:15%;
	position:fixed;
	right: 10% !important;
}

.container {
	width: 90% !important;
}

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) and (orientation:portrait) {
	.reg_back {
		background: url('/images/signup_por.jpg');
	}

	.login_card {
		margin-top: 10%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation:portrait) {
	.reg_back {
		background: url('/images/signup_por.jpg');
	}

	.login_card {
		margin-top: 10%;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation:portrait) {
	.reg_back {
		background: url('/images/signup_por.jpg');
	}

	.login_card {
		margin-top: 10%;
	}
}

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) and (orientation:landscape) {
	.login_btn {
		right: 2% !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 812px) and (orientation:landscape) {
	.login_btn {
		right: 2% !important;
	}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation:landscape) {
	.login_btn {
		right: 2% !important;
	}
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation:landscape) {
	.login_btn {
		right: 5% !important;
	}

	.login_card {
		margin-top: 2%;
	}
}