a {
	color: #000;
}

body {
	background-repeat: no-repeat !important;
  -webkit-background-size: 100% !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.cur_font {
	font-family: 'Homemade Apple', cursive;
}

.login_font {
	font-family: 'Pacifico', cursive;
}

.text_fields {
	font-family: 'Open Sans', sans-serif;
}

.transparent_card {
	background-color: rgba(255,255,255,0.6);
	border:0;
}

/*Loading screen*/
#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	background-color: rgba(0,0,0,1);
	z-index: 99;
	text-align: center;
}

#loading-image {
	margin-top:15%;
	z-index: 100;
}

/*Circle card*/
.card-pad {
	padding:10%;
}

.circle_card {
	border-radius: 50%;
	width: 200px !important;
	height: 200px !important;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.circle_card:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.circle_card_big {
	border-radius: 50%;
	width: 500px !important;
	height: 500px !important;
}

.text-margin {
	position:relative;
	top:25%;
}

.circle_text {
	position:relative;
	top:30%;
}

/*Login effect*/
.hvr-login {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-login:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffee58;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-login:hover:before, .hvr-login:focus:before, .hvr-login:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/*SignUp effect*/
.hvr-signup {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-signup:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffa726;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-signup:hover:before, .hvr-signup:focus:before, .hvr-signup:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) and (orientation:portrait) {

}

@media only screen and (min-device-width: 1px) and (max-device-width: 767px) and (orientation:landscape) {
  .circle_card {
    width: 200px !important;
    height: 200px !important;
  }

  .circle_card_big {
    width: 350px !important;
    height: 350px !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 812px) and (orientation:landscape) {
  .circle_card {
    width: 150px !important;
    height: 150px !important;
  }

  .circle_card_big {
    width: 350px !important;
    height: 350px !important;
  }

  .circle_text {
    top: 25%;
  }

  .h4_index_font {
    font-size: 1.8rem;
  }

  .h2_index_font {
    font-size: 3rem;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation:portrait) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation:portrait) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation:landscape) {
  .circle_card {
    width: 150px !important;
    height: 150px !important;
  }

  .circle_card_big {
    width: 400px !important;
    height: 400px !important;
  }

  .circle_text {
    top: 25%;
  }

  .h4_index_font {
    font-size: 1.8rem;
  }

  .h2_index_font {
    font-size: 3rem;
  }

  .container {
    width: 90%;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation:landscape) {
  .circle_text {
    top: 30%;
  }

  .container {
    width: 90%;
  }
}